.centred-image {
	text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.centred-div {
	text-align: center;
	margin: 0 auto;
	display: block;
}

.footer .ui-btn {
	width:20%;
}

.footer {
	text-align:center;
}

.detail-image {
	height: 12em;
}

.list-thumbnail {
	height: inherit
}

.logo-container {
	display: block;
	width: 100%;
}

.logo-header-container {
	display: block;
}

.logo {
	width: inherit
}

.lightbox-btn.ui-btn.ui-corner-all.ui-btn-a  {
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-shadow: none;
  position: absolute;
  top: 40%;
  box-shadow: none;
}

.ui-icon-carat-r {
  right: 0px;
}